<ion-view view-title="Acelerómetro">

	<ion-nav-bar align-title="center" class="bar bar-header bar-dark" >
		<ion-nav-buttons side="left">
			<button class="button button-icon button-clear ion-navicon" menu-toggle="left"> </button>
		</ion-nav-buttons>
		<h1 class="title">Acelerómetro</h1>
	</ion-nav-bar>

	<ion-content>
    <div class="card">
	    <div class="item item-text-wrap">
	      <ul class="list">
	      	<li class="item">
	          X : {{X}}
	        </li>
	        <li class="item">
	          Y : {{Y}}
	        </li>
	        <li class="item">
	          Z : {{Z}}
	        </li>
	        <li class="item">
	          timeStamp : {{timeStamp}}
	        </li>
	      </ul>
      </div>
    </div>
  </ion-content>

</ion-view>
