<ion-view view-title="Sqlite">

	<ion-nav-bar align-title="center" class="bar bar-header bar-dark" >
		<ion-nav-buttons side="left">
			<button class="button button-icon button-clear ion-navicon" menu-toggle="left"> </button>
		</ion-nav-buttons>
		<h1 class="title">Sqlite</h1>
	</ion-nav-bar>

	<ion-content class="padding">
	        <h3 class="text-center">SQLite</h3>

	        <br/>
	        <br/>

	        <h5>Messages</h5>
	        <code ng-bind-html="messages"></code>

	    </ion-content>

</ion-view>
