<ion-view view-title="Vibración">

	<ion-nav-bar align-title="center" class="bar bar-header bar-dark" >
		<ion-nav-buttons side="left">
			<button class="button button-icon button-clear ion-navicon" menu-toggle="left"> </button>
		</ion-nav-buttons>
		<h1 class="title">Vibración</h1>
	</ion-nav-bar>

  <ion-content class="padding">
    <button class="button button-block button-assertive" ng-click="vibrarCorto()">
     Vibración corta
    </button>
		<button class="button button-block button-assertive" ng-click="vibrarLargo()">
     Vibración larga
    </button>
		<button class="button button-block button-assertive" ng-click="vibrarPatron()">
     Vibración en patrón
    </button>
  </ion-content>
</ion-view>
